@config "../../tailwind.site.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply bg-sky-800 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-full;
}

@layer base {

    @font-face {
      font-family: "Noto";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('../font/Noto_Naskh_Arabic/static/NotoNaskhArabic-SemiBold.ttf');
    }

}