
/* For extremely small screen devices (595px and below) */
/* @media only screen and (max-width: 595px) {...}
 */ 
/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {...}
 */ 
/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...}
 */ 
/* Big screen devices (889px and above) */

.navButton{
    display: none !important;
}

.navButton div{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 780px){
  
.swiper-container , .ourCustmer{
    display: none;
}
    .services , .ourlawer , .achivment , footer ,.TowInput{
        flex-direction: column !important;
    }
    footer div{
        width: 100% !important;
    }
    .services div{
        width: 80% !important;
    }

    .navButton{
display: block  !important;
    }
    .nav{

        display: none !important;

        }
}
 


.hidemenu{
    display: flex !important;

}
/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */





.sidenav {
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333a4d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  
  .sidenav a {
    color: #f1f1f1;
    transition: all 0.4s ease;
    text-decoration: none;
    cursor: pointer;
  }
  .sidenav a:hover{
    color: #c18f59;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




