.serviceBox{
    display: grid;
    padding: 4em;
    margin: 0px 5em 0px 5em;
    gap:1.5em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.serviceBox .Box {
    padding: 2.5em;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid #dedede;
    border-radius: 3px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    -moz-box-shadow: 0 0 5px rgb(173, 173, 173);
    -webkit-box-shadow: 0 0 5px  rgb(173, 173, 173);
    box-shadow: 0 0 5px rgb(173, 173, 173);
    transition: .4s;
  }


  .serviceBox .Box:hover{
    background-color: #c18f59;

  }


.Box a{
    color:#282e3f;
    text-decoration: none;
}

.las ,.lab , .lar{
    color:#7d5b36 !important;
    font-weight: 900 !important;
    font-size: 45px !important;
}

.Box a:hover{
    color:#c18f59;        
}




.contentServices{
    width: 450px !important;
    height: 300px !important;;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.title{
    font-size: xx-large;
    color:#282e3f;
    font-weight: 700;

}

.contentServices a{
    color:#282e3f;

    text-decoration: none;

    transition: .4s;
}

.contentServices a:hover{
    color:#c18f59;

}

.contentServices p{
    font-size: 18px;
    text-align: justify;
}
.contentServices center{
padding: 0.3rem;
}